footer {
  padding-block: var(--py-xl) var(--py-md);

  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;

  & .logo {
    & a {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font: var(--fw-bold) 1.25rem / 130% var(--ff-syne);
    }

    & img {
      width: 2rem;
      transition: rotate 350ms;

      &:hover {
        rotate: 90deg;
      }
    }
  }

  & nav {
    display: flex;
    gap: 2rem;
    font: var(--fw-semibold) var(--text-base) / 150% var(--ff-base);

    & a {
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--snitap-sky-mid);
        position: absolute;
        bottom: 0;
        left: 0;

        opacity: 0;
        transform: scaleX(0);
        transition: transform 200ms linear;
      }

      &:hover::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }

  & .social-links {
    display: flex;
    align-items: center;

    & a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 2.5rem;
      height: 2.5rem;
      border-radius: 5rem;

      & img {
        width: 1.5rem;
        height: auto;
      }

      position: relative;

      &::before {
        content: "";
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: var(--snitap-sun);

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        scale: 0;
        transition: scale 200ms;
      }

      &:hover::before {
        scale: 1;
      }
    }
  }

  @media (width < 1280px) {
    padding-block: 3rem 1.5rem;

    flex-direction: column;
    align-items: flex-start;

    & nav {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
