.gallery {
  padding-top: var(--py-lg);

  & header {
    text-align: center;

    & span {
      font: 500 var(--text-sm) / 150% var(--ff-base);
    }
  }

  & .content {
    margin-block: 2rem;

    display: grid;
    gap: 2rem;
    grid-template-areas:
      "A B B"
      "C C D";

    & img {
      width: 100%;
      height: auto;
    }

    & figure {
      position: relative;

      border-radius: 2.5rem;
      overflow: hidden;
      line-height: 0;

      animation: image-appear linear backwards;
      animation-timeline: view();
      animation-range: 100px 300px;

      &[data-delay] {
        animation-range: 150px 350px;
      }

      & > img {
        height: 25rem;
        object-fit: cover;
        transition: scale 500ms;
      }

      &:hover {
        & > img {
          scale: 1.1;
        }

        & figcaption {
          transform: translateY(0);
        }
      }

      &:nth-child(1) {
        grid-area: A;
      }

      &:nth-child(2) {
        grid-area: B;
      }

      &:nth-child(3) {
        grid-area: C;
      }

      &:nth-child(4) {
        grid-area: D;
      }
    }

    & figcaption {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      font: 500 var(--text-sm) / 160% var(--ff-base);
      color: var(--background);

      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1.5rem 2rem;

      transform: translateY(100%);
      transition: transform 500ms;

      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.64),
        rgba(0, 0, 0, 0)
      );

      & > img {
        width: 2rem;
        height: 2rem;
        aspect-radio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  @media (width < 1280px) {
    & .content {
      margin-block: 1.5rem;
      gap: 1.5rem;

      grid-template-areas:
        "A"
        "B"
        "C"
        "D";

      & figure {
        &[data-delay] {
          animation-range: none;
        }

        & > img {
          height: 16rem;
        }
      }
    }
  }
}

@keyframes image-appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}
