.hero {
  --slide-offset-sm: -5rem;
  --slide-offset-md: -10rem;
  --slide-offset-lg: -15rem;

  --slide-bounce-sm: 5px;
  --slide-bounce-md: 10px;
  --slide-bounce-lg: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  overflow: hidden;
  padding-block: var(--py-lg);

  & .hero-content {
    max-width: 43.5rem;

    & h1 {
      max-width: 40rem;
    }
  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: calc(var(--slide-offset-sm) * -1);
    width: min-content;
    vertical-align: bottom;
  }

  & h1 span:nth-child(1),
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }

  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
  }

  & h1 span {
    display: block;
    animation: slideUp 5s 2s infinite ease;
  }

  /* buttons */
  & .buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    & .button {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      border-radius: 5rem;

      transition: scale 400ms;

      &.buy {
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
      }

      &.play span {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--background);
        border-radius: 50%;
        padding: 1.5rem;
      }

      &:hover {
        scale: 1.1;
      }
    }

    & .shadow {
      box-shadow: 0px 36px 15px rgba(0, 0, 0, 0.01),
        0px 20px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09),
        0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  /* patins */
  & .patins {
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
    }

    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="ellipse"] {
      width: 94%;
      top: 3%;
      left: 3%;

      transform: translateX(200%);
      animation: slideIn 3s 200ms ease forwards;
    }

    & img[src*="patins"] {
      z-index: 1;

      transform: translateX(200%);
      animation: slideIn 3s ease forwards;
    }

    & img[src*="stars-1"] {
      max-width: 5.5rem;
      top: 30%;
      z-index: 0;

      opacity: 0;
      transform: translateX(400%);
      animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
    }

    & img[src*="stars-2"] {
      max-width: 2.5rem;
      bottom: 35%;
      right: 0;
      z-index: 0;

      transform: translateX(400%);
      animation: slideIn 2.2s 800ms ease forwards;
    }
  }

  @media (width < 1280px) {
    --slide-offset-sm: -2.5rem;
    --slide-offset-md: -5rem;
    --slide-offset-lg: -7.5rem;

    --slide-bounce-sm: 2.5px;
    --slide-bounce-md: 5px;
    --slide-bounce-lg: 7.5px;

    flex-direction: column-reverse;
    align-items: flex-start;
    padding-block: 1rem 3rem;

    & .hero-content {
      max-width: 19.5rem;

      & h1 {
        max-width: 17.25rem;
      }
    }

    & .patins {
      max-width: 19.5rem;
      height: 19.5rem;
    }

    & .buttons {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }
}

@keyframes slideUp {
  /* radical static */
  0%,
  22% {
    transform: translateY(0);
  }

  /* divertida in */
  23% {
    transform: translateY(
      calc(var(--slide-offset-sm) - var(--slide-bounce-lg))
    );
  }

  25% {
    transform: translateY(
      calc(var(--slide-offset-sm) + var(--slide-bounce-md))
    );
  }

  27% {
    transform: translateY(
      calc(var(--slide-offset-sm) - var(--slide-bounce-sm))
    );
  }

  29% {
    transform: translateY(
      calc(var(--slide-offset-sm) + var(--slide-bounce-sm))
    );
  }

  /* divertida static */
  33%,
  55% {
    transform: translateY(var(--slide-offset-sm));
  }

  /* saudavel in */
  56% {
    transform: translateY(
      calc(var(--slide-offset-md) - var(--slide-bounce-lg))
    );
  }

  58% {
    transform: translateY(
      calc(var(--slide-offset-md) + var(--slide-bounce-md))
    );
  }

  60% {
    transform: translateY(
      calc(var(--slide-offset-md) - var(--slide-bounce-sm))
    );
  }

  62% {
    transform: translateY(
      calc(var(--slide-offset-md) + var(--slide-bounce-sm))
    );
  }

  /* saudavel static */
  66%,
  88% {
    transform: translateY(calc(var(--slide-offset-md)));
  }

  /* radical in */
  89% {
    transform: translateY(
      calc(var(--slide-offset-lg) - var(--slide-bounce-lg))
    );
  }

  91% {
    transform: translateY(
      calc(var(--slide-offset-lg) + var(--slide-bounce-md))
    );
  }

  93% {
    transform: translateY(
      calc(var(--slide-offset-lg) - var(--slide-bounce-sm))
    );
  }

  95% {
    transform: translateY(
      calc(var(--slide-offset-lg) + var(--slide-bounce-sm))
    );
  }
  /* radical static */
  100% {
    transform: translateY(calc(var(--slide-offset-lg)));
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
